<h1>Your resuls for Quiz <%=@score.quiz.name%></h1>

<%@quiz.questions.each do |quiz_question|%>
  <div>
    <p><%=quiz_question.body%></p>
    <%#Below finds you ALL the answers of the question%>
    <%=quiz_question.answers%>
    
    <%# Below finds you the ANSWER that the student chose%>
    <%=quiz_question.answers[@score.results[question.id]]%>

  </div>
<% end %>



